<div class="search-box" fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex.gt-sm="60" fxFlex="90" fxLayout="column" fxLayoutGap="2rem">
    <mat-card-title fxLayoutAlign="center center">
      FB Video Download
    </mat-card-title>
    <mat-card-content fxLayoutAlign="center center">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
          <mat-form-field >
            <input matInput>
          </mat-form-field>
        <mat-button-toggle>DOWNLOAD</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-content>
  </mat-card>
</div>
